body {
    /* background: url(https://wallpapers.com/images/hd4/five-beautiful-koi-fish-he5t0i67b3jxma6w.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}